<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h1>MAPS BLOG</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure,
          doloremque. Quo voluptatibus doloremque
        </p>
      </div>
      <div class="col-md-2">
        <h5>CATEGORIES</h5>
        <ul>
          <li><a href="#">Development</a></li>
          <li><a href="#">Business</a></li>
          <li><a href="#">Technology</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Marketing</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5>Quick Access</h5>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Blogs</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 news-letter">
        <h5>NEWSLETTER</h5>

        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Recipient's username"
            aria-label="Recipient's username"
            aria-describedby="button-addon2"
          />
          <button
            class="btn btn-outline-secondary"
            type="button"
            id="button-addon2"
          >
            Subscribe
          </button>
        </div>
        <div class="social-icons d-flex">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class="container d-flex justify-content-between copyright">
    <p>Copyright @ 2023, All Rights Reserved.</p>
    <p>Designed by <a href="#">Mohammad Khoulani</a></p>
  </div>
</footer>
